<div class="col-md-6 col-md-offset-3">
      <h2>User List</h2>
      <button type="button" class="btn btn-primary" (click)="data.RefreshData()">LOAD</button><br><br>
   <table class="table table-striped table-bordered">
     <tr>
       <th>Name</th>
       <th>Email</th>
       <th>Phone</th>
       <th>Address</th>
       <th>Delete</th>
     </tr>
     <tr  *ngFor="let a of data.UserList">
       <td> {{ a.Name }} </td>
       <td> {{ a.Email }} </td>
       <td> {{ a.Phone }} </td>
       <td> {{ a.Address }} </td>
       <td><button type="button" class="btn btn-danger" (click)="DeleteToDo(a.id)">Delete</button></td>
     </tr>
   </table>
 </div>